// borders
$border-radius-x-small: 6px;
$border-radius-small: 10px;
$border-radius-medium: 20px;
$border-radius-large: 40px;

// colors 
// $color-neutral__dark: #2A2827;
$color-neutral__dark: #252525;
$color-neutral__greige-dark: #5A5654;
$color-neutral__greige: #BCB7B3;
$color-neutral__greige-light: #EDE8E3;
$color-neutral__light: #F8F5F4;

$color__blue-dark: #31475B;
$color__blue: #44627E;
$color__blue-light: #A2B1BF;
$color__green-dark: #6A8373;
$color__green: #A7CEB5;
$color__green-light: #D3E7DA;
$color__red-dark: #803B28;
$color__red: #AB4F35;
$color__red-light: #C07B68;
$color__yellow-dark: #C98C53;
$color__yellow: #E7A85F;
$color__yellow-light: #EDBE87;

// flex

//font mixins
@mixin font-size-h1 {
  font-size: 5.6rem;
  @media screen and (min-width: 768px) {
    font-size: 7.5rem;
  }
}
@mixin font-size-h2 {
  font-size: 4.1rem;
  @media screen and (min-width: 768px) {
    font-size: 5.6rem;
  }
}
@mixin font-size-h3 {
  font-size: 3.1rem;
  @media screen and (min-width: 768px) {
    font-size: 4.1rem;
  }
}
@mixin font-size-title {
  font-size: 2.35rem;
  @media screen and (min-width: 768px) {
    font-size: 3.1rem;
  }
}
@mixin font-size-subtitle {
  font-size: 1.75rem;
  @media screen and (min-width: 768px) {
    font-size: 2.35rem;
  }
}
@mixin font-size-label {
  font-size: 1.3rem;
  @media screen and (min-width: 768px) {
    font-size: 1.75rem;
  }
}
@mixin font-size-paragraph {
  font-size: 1rem;
  @media screen and (min-width: 768px) {
    font-size: 1.3rem;
  }
}
@mixin font-size-paragraph__small {
  font-size: 0.75rem;
  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
}

// grid
$grid-template-standard: repeat(12, 1fr);
$grid-template-standard__row: repeat(10, 65px);
$column-gap-standard: 30px;

// margins & paddings
$margin-x-small: 4px;
$margin-small: 8px;
$margin-medium: 12px;
$margin-large: 16px;
$margin-x-large: 20px;

$padding-x-small: 4px;
$padding-small: 8px;
$padding-medium: 12px;
$padding-large: 16px;
$padding-x-large: 20px;
$padding-body: 24px;

// height & widths
$input-height: 35px;

// shadows
$shadow-1: 2px 3px 6px rgba(90, 86, 84, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-2: 1px 2px 2px rgba(29, 32, 35, 0.104), 0px 1px 1px rgba(33, 37, 41, 0.08);


@mixin backdrop-gradient {
  background-color: $color-neutral__dark;
  background: linear-gradient(
    270.57deg,
    rgba(54, 54, 54, 0.2475) -28.6%,
    rgba(29, 28, 28, 0.0726) -1.86%,
    rgba(11, 11, 11, 0.2904) 58.5%,
    rgba(27, 26, 26, 0.0726) 105.93%,
    rgba(29, 29, 29, 0.0726) 136.97%
  );
  border-radius: 7px;
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.26);
}
// transitions
@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

// Scrollbar 
@mixin scrollbar-standard {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    appearance: none;
    border-radius: variables.$border-radius-large;
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: variables.$color-neutral__greige;
    border-radius: variables.$border-radius-large;
    width: 3px;
  }
}